<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>
<form method="POST" action="{% url 'adminn' %}">
    <h3>name</h3>
    <input type="text" name="topic"/>
    <input type="submit">
</form>
</body>
</html>